section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
  height: 96.3vh;
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    h1 {
      font-size: 8vw;
      padding-bottom: 1rem;
      border-bottom: #dedede solid 1px;
      width: 90%;
    }
    p {
      font-size: 2.5vw;
    }
  }
  img {
    width: 30vw;
    max-width: 450px;
  }
}

@media (width < 768px) {
  section {
    flex-direction: column;
    gap: 5vh;
    div {
      align-items: center;
      justify-content: center;
      width: 80%;
      h1 {
        font-size: 2rem;
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 1rem;
      }
    }
  }
  img {
    width: 60vw;
  }
}

@media (width > 1024px) {
  section {
    div {
      width: 500px;
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
}
