section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
  height: 96.3vh;
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    padding-left: 5rem;
    h1 {
      margin-bottom: 1rem;
      font-size: 8vw;
      padding-bottom: 1rem;
      border-bottom: #dedede solid 1px;
      width: 90%;
    }
    p {
      font-size: 2.5vw;
    }
  }
  img {
    width: 30vw;
  }
}

// @media (width < 1440px) {
//   section {
//     div {
//       h1 {
//         font-size: 6rem;
//       }
//     }
//   }
// }
// @media (width < 1100px) {
//   section {
//     div {
//       h1 {
//         font-size: 4rem;
//       }
//     }
//   }
// }
// @media (width < 700px) {
//   section {
//     div {
//       h1 {
//         font-size: 3rem;
//       }
//       p {
//         font-size: 1.5rem;
//       }
//     }
//   }
// }
// @media (width < 400px) {
//   section {
//     div {
//       h1 {
//         font-size: 2rem;
//       }
//       p {
//         font-size: 1rem;
//       }
//     }
//   }
// }
