<article>
  <h2>Quiénes somos.</h2>
  <div></div>
  <p>¿Te imaginas a un inquilino que además de pagarte todos los meses, te devolviera el piso en mejores condiciones que
    cuando se la arrendaste? ¡Lo has encontrado!<br><br>

    WeRent surge de la necesidad de algunos propietarios de encontrar soluciones adaptadas a sus necesidades
    específicas.
    Hay empresas que "aseguran" tu alquiler a cambio de un porcentaje, inmobiliarias tradicionales que te meten a
    cualquiera
    y luego se desentienden, empresas de mantenimiento...pero ninguna que aglutine todos nuestros servicios.<br>
    Nos convertimos en tu inquilino, liberándote de cualquier tipo de gestión y gasto que genera una propiedad, así de
    fácil.</p>

</article>
