article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10vh;
  h2 {
    font-size: 8vw;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 7vw;
    li {
      width: 30vw;
      text-align: center;
    }
  }
}
@media (width<768px) {
  article {
    ul {
      flex-direction: column;
      li {
        width: 80vw;
      }
    }
  }
}

@media (width > 1024px) {
  article {
    h2 {
      font-size: 6rem;
    }
    ul {
      width: 900px;
      gap: 6rem;
      li {
        width: 301px;
      }
    }
  }
}
