<footer>
    <div class="icono">
        <img src="../../../assets/wr-complete-logo-withe.svg" alt="Logo">
    </div>
    <div class="escribenos">
        <h2>Escribenos</h2>
        <p>UN CORREO:COM</p>
    </div>
    <div class="llamanos">
        <h2>Llamanos</h2>
        <p>UN NUMERO</p>
    </div>
    <div class="horario">
        <h2>Nuestro horario</h2>
        <p>Lunes a Viernes 9:00 a 19:00</p>
    </div>
    <div class="siguenos">
        <h2>Siguenos</h2>
        <ul>
            <li><a href="#"><img src="assets/img/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="assets/img/instagram.png" alt="instagram"></a></li>
            <li><a href="#"><img src="assets/img/twitter.png" alt="twitter"></a></li>
        </ul>
    </div>
    <div class="legal">
        <h2>Legal</h2>
        <ul>
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Politica de privacidad</a></li>
            <li><a href="#">Politica de cookies</a></li>
        </ul>
    </div>
    <div class="final">
        <p>&copy; 2023 WeRent SL. All rights reserved.</p>
    </div>
</footer>