header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3vw;
  background-color: rgba(0, 0, 0, 0.467);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;

  img {
    width: 40vw;
    max-width: 250px;
    color: #dedede;
  }
}
