<article>
  <div class="photo-container1">
    <span>GOYA</span>
  </div>
  <div class="photo-container2">
    <span>ARGÚELLES</span>
  </div>
  <div class="photo-container3">
    <span>PLAZA CASTILLA</span>
  </div>
  <div class="photo-container4">
    <span>CHAMBERÍ</span>
  </div>
  <div class="text-container">
    <h2>¡Transforma hoy mismo tu piso!</h2>
    <div></div>
    <span>Como ya han hecho decenas de propietarios por todo Madrid y que ya disfrutan del <i>ALQUILER
        INTELIGENTE</i>.</span>
  </div>
</article>
