li {
  width: 30vw;
  height: 30vh;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  h3 {
    font-size: 3vw;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 2vw;
  }
}

@media (width < 768px) {
  li {
    width: 70vw;
    height: 33vh;
    gap: 1vh;
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
