<article>
  <hgroup>
    <h2>Alquilar tu piso puede ser tedioso.<br>
      ¿Solución? Hazte un WeRent.</h2>
    <span>Nosotros te ofrecemos una gestión integral PREMIUM</span>
  </hgroup>
  <ul>
    <li>Aumentamos la rentabilidad de tu inmueble</li>
    <li>Evitamos impagos y destrozos
    </li>
    <li>Te ahorramos tiempo y todas las gestiones que implica un alquiler
    </li>
    <li>Revalorizamos tu propiedad asumiendo el coste
    </li>
    <li>Evitamos okupaciones</li>
    <li>SIN COMISIONES</li>
  </ul>
  <a href="">QUIERO MI SERVICIO PREMIUM</a>
</article>
