article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10vh;

  h2 {
    font-size: 8vw;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 7vw;
  }
}

@media (width < 768px) {
  article {
    padding-top: 1rem;
    ul {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
}

@media (width > 1024px) {
  article {
    h2 {
      font-size: 6rem;
    }
    ul {
      width: 1024px;
    }
  }
}
