<nav class="desktop-menu">
  <ul>
    @for (option of menuOptions; track $index) {
    <li>
      <a [routerLink]="[option.path]" routerLinkActive="router-link-active">{{option.label}}</a>
    </li>
    }
  </ul>
</nav>

<button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu-button">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="menuBurger">
  @for (option of menuOptions; track $index) {
  <button mat-menu-item [routerLink]="[option.path]" routerLinkActive="router-link-active">
    {{option.label}}
  </button>
  }
</mat-menu>
