nav {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    color: #dedede;
    li {
      a {
        text-decoration: none;
        color: inherit;
        font-size: 1.5rem;
      }
    }
  }
}
@media (width < 1282px) {
  ul {
    gap: 1rem;
  }
}
