<form class="form" [formGroup]="this.contactForm" (ngSubmit)="onSubmit()">

  <h2>Contacto</h2>

  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [formControl]="name" autocomplete="name" required>
    @if (
    name.invalid
    ) {
    <mat-error>{{formStructure.name.errors.required}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo electrónico</mat-label>
    <input matInput [formControl]="email" autocomplete="email" required email>
    @if (
    email.invalid
    ) {
    <mat-error>{{formStructure.email.errors.required}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Telefono</mat-label>
    <input matInput [formControl]="phone" autocomplete="phone" required text>
    @if (
    phone.invalid
    ) {
    <mat-error>{{formStructure.phone.errors.required}}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Comentarios</mat-label>
    <textarea matInput [formControl]="comments"></textarea>
  </mat-form-field>

  <div>
    <input type="checkbox" [formControl]="isOkTerms" required>
    <label>Acepto los términos y condiciones</label>
  </div>

  <div class="buttons form-control">
    <button type="submit" [disabled]="this.contactForm.invalid">Enviar</button>
  </div>
</form>
