article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10vh;
  padding-top: 1rem;
  h2 {
    font-size: 8vw;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 7vw;
    li {
      width: 25vw;
      text-align: center;
    }
  }
}

@media (width<768px) {
  article {
    height: auto;
    ul {
      flex-direction: column;
      li {
        width: 80vw;
      }
    }
  }
}
