<article>
  <h2>Opiniones.</h2>
  <ul>
    <li>
      <img src="" alt="">
      <p>Gracias a los chicos de WeRent, me despreocupo totalmente. Me dieron mucha confianza y lo gestionaron todo
        súper
        rápido.</p>
    </li>
    <li>
      <img src="" alt="">
      <p>Tengo varios pisos y para mí era un dolor de cabeza encontrar buenos inquilinos. Ellos tienen los mejores
        inquilinos y
        además no tengo que ocuparme del papeleo.</p>
    </li>
    <li>
      <img src="" alt="">
      <p>Un equipo muy amable y muy profesional. Me han asesorado y han puesto a punto una propiedad heredada que ahora
        me
        da
        rentabilidad.</p>
    </li>
  </ul>
</article>
